/*Reset to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  min-width: 768px;
}

header {
  background-color: #40454a;
}

section {
  background-color: #40454a;
}

footer {
  background-color: #4e555b;
}

header {
  width: 100%;
  height: 80px;
  color: #FFFFFF;
}

form {
  display: flex;
  justify-content: center;
  max-width: 420px;
  min-width: 200px;
  height: 40px;
}

input.form-control {
  width: calc(100% - 45px);
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.collapse-search {
  min-width: 30%;
  max-width: 50%;
  margin: auto;
  padding: 0 2%;
}

.collapse-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 32%;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-link .nav-item {
  margin-right: 6px;
  margin-left: 6px;
}

.nav-link {
  font-size: 12px;
  color: #FFFFFF;
  padding: 10px 10px;
  transition: 0.5s all;
}
.nav-link:hover {
  background-color: #4482c0;
  border-radius: 20px;
}
.nav-link i {
  margin-right: 3px;
}

.nav-link.active {
  background-color: #4482c0;
  border-radius: 20px;
}

.nav-user {
  width: 90px;
  height: 35px;
  border: 1px solid #7a8795;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-name {
  font-size: 12px;
  color: #FFFFFF;
  padding-left: 10px;
  cursor: pointer;
}

.nav-question {
  width: 35px;
  height: 35px;
  border: 1px solid #7a8795;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px 0 5px;
}

section {
  display: flex;
  min-height: calc(100% - 150px);
}

.section-left {
  width: 68%;
  margin-right: 10px;
  background-color: #FFFFFF;
}

.product-section {
  height: 40px;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-section .item-header.row {
  width: 70%;
}
.product-section .item-header.row .item-col {
  width: 25%;
  color: #40454a;
  line-height: 40px;
  text-align: center;
}
.product-section .item-header.row .item-col.form-check {
  width: 450px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2%;
}
.product-section .item-body.row {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-section .form-info-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-right {
  min-width: 230px;
  width: 32%;
  background-color: #FFFFFF;
}
.section-right .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: auto;
  background-color: #4e555b;
}
.section-right .nav li.nav-item.waves-effect {
  flex: 0 1 33.333%;
  padding: 20px 5px;
  text-align: center;
}
.section-right .nav li.nav-item.waves-effect.active {
  background-color: #FFFFFF;
  position: relative;
}
.section-right .nav li.nav-item.waves-effect.active .nav-pills {
  color: #40454a;
  font-weight: bold;
}
.section-right li.nav-item.waves-effect.active:before {
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 8px 8px 0 0;
  background-color: #ec8b2e;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 5;
}
.section-right .nav-pills {
  font-size: 18px;
  color: #FFFFFF;
}
.section-right .tab-content {
  padding: 0 10px;
}
.section-right .collapse.show {
  background-color: #f1f1f1;
}
.section-right .tab-pane-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.section-right .tab-pane-list .tab-pane {
  width: 275px;
  height: 40px;
  margin: 5px 8px;
  background-color: #878b8f;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  border-radius: 8px;
  cursor: pointer;
}
.section-right .tab-pane-list .tab-pane.active-show {
  background: #4e555b;
}
.section-right .custom-accordion a:first-child {
  color: #ec8b2e !important;
  font-weight: bold;
}
.section-right .custom-accordion .collapsed {
  color: #40454a;
}
.section-right .custom-accordion .collapsed i {
  padding-right: 20px;
}

.accordion .card-header {
  padding: 20px 0;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}
.accordion .card-header .collapsed {
  color: #40454a;
}
.accordion .card-header .collapsed i {
  padding-right: 20px;
}
.accordion .card-header .collapsed:hover {
  color: #ec8b2e;
}
.accordion .card-header:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  position: absolute;
  top: 56px;
  left: 0;
}

footer {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-row-left {
  max-width: 1290px;
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}
footer .footer-row-right {
  max-width: 620px;
  width: 32%;
}
footer .footer-row-right .footer-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-col {
  color: #FFFFFF;
}
footer .footer-col .footer-col-1 {
  padding-top: 10px;
}
footer .footer-col.footer-user {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
footer .footer-icon i {
  font-size: 32px;
  padding-right: 20px;
}
footer .contact-info h3 {
  font-size: 16px;
  padding-bottom: 5px;
}
footer .footer-col.footer-price {
  display: flex;
  align-items: center;
}
footer .footer-col.footer-price .footer-col-2 {
  font-size: 44px;
  font-weight: bold;
}

@media (max-width: 1573px) {
  .collapse-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: none;
  }
}
.btn-search {
  width: 45px;
  height: 100%;
  background-color: #ec8b2e;
  cursor: pointer;
}

#searchicon {
  color: #FFFFFF;
  font-size: 16px;
}

.btn-cancel {
  max-width: 245px;
  min-width: 100px;
  width: 100%;
  height: 60px;
  background: inherit;
  color: #7a8795;
  border: 1px solid #7a8795;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
  font-size: 18px;
}
.btn-cancel i {
  margin-right: 5px;
}

.btn-pay {
  max-width: 340px;
  min-width: 125px;
  width: 100%;
  height: 60px;
  background: #ec8b2e;
  color: #7a8795;
  border: 1px solid #ec8b2e;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.btn-footer {
  display: flex;
}
.btn-footer button {
  width: 60px;
  height: 30px;
  background: inherit;
  color: #FFFFFF;
  border: 1px solid #7a8795;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px 0 0;
}
.btn-footer i {
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .btn-footer button {
    width: 30px;
  }
  .btn-footer button span.btn-sbm {
    display: none;
  }
  .btn-footer button i {
    margin-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
